// sets border box for entire project
html, body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


button {
  -webkit-appearance: none;
  border-radius: 0;
  background: 0;
  border: 0;
  &:focus {
    outline: 0;
  }
}

// does site wide styling baseline

ul, h1, h2, h3, h4, h5, h6 {
  list-style: none;
  padding: 0;
  margin: 0;
}


a {
  text-decoration: none;
}

