ul, h1, h2, h3, h4, h5, h6 {
  list-style: none;
  padding: 0;
  margin: 0;
}



a {
  text-decoration: none;
}

// sets border box for entire project
html, body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}