$font-stack: 'Rubik', 'Arial', sans-serif;



/* Common Mixins */
@mixin flex {
    display: flex;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin margin($margin) {
    margin: $margin;
}

@mixin height($height) {
    height: $height;
}

@mixin full-height {
    @include height(100%);
}

@mixin border($color) {
    border: 1px solid $color;
}

// em converter function
// https://css-tricks.com/snippets/sass/px-to-em-functions/
$font-default: 16;

@function em($pixels, $context: $font-default) {
  @return #{$pixels/$context}rem;
}



.float-right {
    float: right;
}

$main-max-width: em(1000);
