$font-stack: 'Rubik', 'Arial', sans-serif;



/* Common Mixins */
@mixin flex {
    display: flex;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin margin($margin) {
    margin: $margin;
}

@mixin height($height) {
    height: $height;
}

@mixin full-height {
    @include height(100%);
}

@mixin border($color) {
    border: 1px solid $color;
}

@mixin box-shadow-low {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: 100ms box-shadow;
}

@mixin box-shadow-med {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 0 0 1px rgba(0,0,0,0.1);
}

@mixin body-width {
    max-width: em(1000);
    margin-left: auto;
    margin-right: auto;
}

@mixin body-width-1040 {
    max-width: em(1000);
    margin-left: em(40);
    margin-right: em(40);
}


// em converter function
// https://css-tricks.com/snippets/sass/px-to-em-functions/
$font-default: 16;

@function em($pixels, $context: $font-default) {
  @return #{$pixels/$context}rem;
}



.float-right {
    float: right;
}

$main-max-width: em(1000);
