@import '_reset';
@import 'common';

body, html {
  @include full-height;
  @include margin(0px);
  font-family: $font-stack;
  color: #000;
}

#seantrek-app {
  @include flex;
  @include full-height;
  width: 100%;

 
  .seantrek-app-main {
    width: 100%;
  }
  .seantrek-page {
    max-width: 800px;
    margin: auto;
  }
}


a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Actor';
}

h1 {
  font-size: em(40);
}

.header-main {
  background-color: #ace;
  padding: 20px;
}

.text-box-intro {
  // padding: em(50) 0;
  margin: em(20) auto;
  text-align: left;
  width: 80%;
  max-width: em(400);
  background-color: rgba(255,255,255,.7);
  
  .text-box-intro-copy {
    padding: em(30);
  }

  &:before, &:after {
    content: '';
    display: block;
    margin: auto;
    padding: em(10) 0;
    width: 100%;
    border-top: 1px solid #888;    
  }
  &:after {
    border-top: 0;
    border-bottom: 1px solid #888;    
  }
}

.main-photo-box {
  display: block;
  position: relative;
  // img {
  //   max-width: em(300);
  // }
}

.main-photo-box-window {
  overflow: hidden;
  flex: 1 0 300px;
  position: relative;

  .main-photo-box-control {
    display: inline-block;
    height: 100%;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &.f {
      right: 0;
      left: initial;
    }
  }
}

.main-photo-box-wide {
  // -webkit-transition: -webkit-transform 200ms ease-in;
  // -moz-transition: -moz-transform 200ms ease-in;
  //   -o-transition: -o-transform 200ms ease-in;
       transition: transform 300ms ease-in-out; 
}

.photo-box-img {
  display: block;
  float: left;
  width: em(300);

  img {
    width: 100%;
  }
}

.trip-box {

  .trip-box-content {
    display: flex;
    align-items: center;

    .main-trip-desc {
      margin-left: 20px;
    }
  }

  &:after {
    display: block;
    width: 80%;
    content: '';
    border: 1px solid #eee;
    margin: em(20) auto;
  }
}

.cover-container {
  height: 100%;
  margin-bottom: 50px;
}

.cover-fixed-div {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
  margin: auto;
  top: 50px;
  z-index: -1;
}

.cover-img {
  position: relative;
  bottom: 600px;
  width: 100%;
}

.cover-div-spacer {
  padding-top: 150px;
}

.cover-div-spacer-title {
  color: #fff;
  font-size: 80px;
  font-family: 'Actor'; 
  text-align: center; 
  margin-bottom: em(10);
}
