@import '_reset';
@import 'common';

body, html {
  @include full-height;
  @include margin(0px);
  font-family: $font-stack;
  color: #000;
}

#example-app {
  @include flex;
  @include full-height;
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Actor';
}

h1 {
  font-size: em(40);
}

.header-main {
  background-color: #ace;
  padding: 20px;
}

.text-box-intro {
  // padding: em(50) 0;
  margin: em(20) auto;
  text-align: left;
  width: 80%;
  max-width: em(400);
  
  .text-box-intro-copy {
    padding: em(30);
  }

  &:before, &:after {
    content: '';
    display: block;
    margin: auto;
    padding: em(10) 0;
    width: 100%;
    border-top: 1px solid #888;    
  }
  &:after {
    border-top: 0;
    border-bottom: 1px solid #888;    
  }
}

.main-photo-box {

  img {
    max-width: em(300);
  }
}



// h6 {
//   font-size: 110%;
//   margin-bottom: 10px;
// };

// code {
//    font-size: 115%;
// }

// .button.button-primary,
// button.button-primary,
// input[type="submit"].button-primary,
// input[type="reset"].button-primary,
// input[type="button"].button-primary {
//   color: #FFFFFF;
//   background-color: #546E7A;
//   border-color: #455A64; }
// .button.button-primary:hover,
// button.button-primary:hover,
// input[type="submit"].button-primary:hover,
// input[type="reset"].button-primary:hover,
// input[type="button"].button-primary:hover,
// .button.button-primary:focus,
// button.button-primary:focus,
// input[type="submit"].button-primary:focus,
// input[type="reset"].button-primary:focus,
// input[type="button"].button-primary:focus {
//   color: #FFFFFF;
//   background-color: #37474F;
//   border-color: #263238;
// }

// .button-primary {
//   margin: 5px 5px 0 0;
//   border-radius: 2px;
// }

// code {
//   color: #546E7A;
// }

// hr {
//   margin-top: 1rem;
//   margin-bottom: 1.5rem;
// }


// /*  REDUX STATE CODEBLOCK */
// pre {
//   font-size: 90%;
//   margin: 0;
//   background-color: #CFD8DC;
//   counter-reset: line-numbering;
//   font-family: Consolas, Menlo, Monaco, monospace;
//   padding: 5px;
//   border-radius: 3px 10px 3px 10px;
//   color: #455A64;
//   white-space: pre-wrap;
//   word-wrap: break-word;
// }

// pre .line::before {
//   content: counter(line-numbering);
//   counter-increment: line-numbering;
//   padding-right: 1em;
//   /* space after numbers */
//   width: 1.5em;
//   text-align: right;
//   font-weight: 600;
//   font-size: 12px;
//   color: #616161;
// }
